/* @mixin rounded( $radius: 10px)  */
/* 	border-top-left-radius: $radius */
/* 	-moz-border-top-left-radius: $radius */
/* 	-webkit-border-top-left-radius: $radius */
/* 	border-top-right-radius: $radius */
/* 	-moz-border-top-right-radius: $radius */
/* 	-webkit-border-top-right-radius: $radius */
/* 	border-bottom-left-radius: $radius */
/* 	-moz-border-bottom-left-radius: $radius */
/* 	-webkit-border-bottom-left-radius: $radius */
/* 	border-bottom-right-radius: $radius */
/* 	-moz-border-bottom-right-radius: $radius */
/* 	-webkit-border-bottom-right-radius: $radius */
		
.window {
    overflow : hidden;
    border : 3px solid grey;
    height : 400px;
    /* @include rounded; */
}

#controls {
    margin-top : 10px;
}

#logo {
    height : 70px;
}

#body {
    width : 950px;
    text-align: center;
    margin-left : auto;
    margin-right : auto;
}

.geo-invisible {
    visibility : hidden;
    position : absolute;
    whitespace : nowrap;
}
	
.map-loading {
    display : none;
    position : absolute; 
    background-color : transparent;

    background-repeat : repeat;
    background-position : top left;
    z-index : 9999;
}

.description {
    height : auto;
    text-align: left;
    padding-left: 20px;
}
	
#upload {
	position : relative
	height : 60%
	top : 30%
	width : 80%
	left : 10%
}

#upload  p {
    width : 100%;
    vertical-align : middle;
}

#upload  p  input {
    width : 60%;
    float : right;
}

#upload  p  select {
    width : 60%;
    float : right;
}

#upload  p  label {
    width : 20%;
}

#video-container {
    position : relative;
}

#video-container  video {
    position : relative;
    z-index : 0;
}

#video-overlay {
    position : absolute;
    top : 0;
    left : 0;
    z-index : 1;
    color : white;
    width : 100%;
    padding: 10px 5px;
}

#video-overlay a {
    color : #0073ea;
    background: white;
    /* @include rounded(5px); */
    padding: 5px;
    margin: 2px;
    text-decoration: none;
}

