{% extends "base.html" %}

{% block Title %}View Map Tracks{% endblock %}

{% block osmscripts %}
<script type="text/javascript" src="static/osm/OpenLayers.js"></script>
<script type="text/javascript" src="static/osm/OpenStreetMap.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/lib/proj4js-combined.js"></script>


{% endblock %}

{% block content %}

<div id="tabs" class="span-24 first last">
  <ul>
    <li>
      <a href="#map-tab">View</a>
    </li>
    <li>
      <a href="#description">Description</a>
    </li>
    <li>
      <a href="#map-original-tab">Original Traces</a>
    </li>
    <li>
      <a href="#upload-tab">Upload</a>
    </li>
  </ul>
  
  <div id="map-tab">
    
    {% if errors %}
    <div id="error">
      <ul>
	{% for error in errors %}
	
	<li>{{error}}</li>
	
	{% endfor %}	
      </ul>		
    </div>
    {% endif %}
    {% if messages %}
    <div id="messages">
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}			
      </ul>
    </div>
    {% endif %}
    <div class="description span-22 last" style="font-size:170%">
      <p>This is an implementation of the paper <a href="http://ls.wim.uni-mannheim.de/de/pi4/people/philip-mildner/publications/?tx_fmipublications_pi1[showUid]=911&tx_fmipublications_pi1[pointer]=0&tx_fmipublications_pi1[mode]=1&tx_fmipublications_pi1[sort]=uid%3A1&cHash=746dfa65a0794b040d02f6be99a4800e">Navigating videos by location</a>.
      All source code is available publicly  <a href="https://bitbucket.org/fvclaus/navigating-videos-by-location">here</a>.
      For more information take a look at the description.
    </div>
    <div class="map-loading window span-10 last" style="background-image: url('static/images/window-background.png')";></div>
    
    <div id="map" class="window span-10 last"></div>
    <!-- spacer -->
    <div class="span-2"> <table></table></div>

    <div id="video-container" class="span-10">
        <video id="video" poster="static/images/logo.png" class="window span-10 last video-js vjs-default-skin" preload controls> </video>
        <!-- Display content on the video -->
        <div id="video-overlay">
        </div>
    </div>

    <fieldset class="span-22 first last" id="controls">
      <legend>Controls</legend>
      <label for="transportation">Mode of Transportation</label>
      <select name="transportation">
	<option selected="selected" value="0">Walk</option> 
	<option value="1">Train</option>
	<option value="2">Bike</option>
	<option value="3">Motor Vehicle</option>				
      </select>
      <button id="reset" class="ui-state-default">Reset</button>
    </fieldset>

  </div>
  
  <div id="map-original-tab">
    <div id="map-original" class="window span-22 last"></div>
  </div>

  <div id="description">
    <div class="description span-22 last"> 
      <p>This projects takes videos + gpx traces as input and renders the videos on a map where they can be navigated by location and automatically chained together.</p>

      <p>Behind the scenes the gpx trace will be map-matched on a road network (currently: OSM). Roughly speaking, the map-matching process works like this: After an inital start matching which compares the heading the heading of single roads, a topological view is created, where every new point can only be matched to a neighbouring road. Because of the high density of urban road networks, several algorithms to improve the accuraccy of the matching process have been implemented. Among them are a backjumping algorithm that will detect and correct mistakes that have been made with previous points and a weighted directional comparison that compares the heading and distance of points to roads of the network.</p>

      <p> Map-matched traces are stored in a datastructure that defines MapPoints (points from a GIS), MapPointConnection (also from a GIS), TracePoints and TracePointConnection.
        TracePoints are MapPoints that have been visited in a single trace. TracePointConnection is the connection between two TracePoints.</p>

      <p> On the defined data structure, it is possible to apply path finding algorithms, like Dijkstra single source shortest path or A*.The main difference between classical graphs defined like <V,E> is that there can be several edges between two vertices.
          Traditional path finding algorithm do not take this in account and produce an ambigous result. Therefore a variaton of the single source shortest path algorith has been developed that iterates over edges instead of vertices and stores meta-data also on edges. </p>
    </div>
        </div>
  
  <div id="upload-tab">
    <p>The upload is disabled, because semi-automatic matching needs to be implemented.</p>
    <form id="upload" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="ui-state-default" value="Submit" disabled="disabled"/>
    </form>
  </div>

</div>

<div class="geo-drop-down-menu">
  <ul>
    
  </ul>
</div>

<script type="text/javascript" src="static/js/styles.js"></script>
<script type="text/javascript" src="static/js/geo/Trace.js"></script>
<script type="text/javascript" src="static/js/geo/TraceLayer.js"></script>
<script type="text/javascript" src="static/js/geo/MapLayer.js"></script>
<script type="text/javascript" src="static/js/geo/main.js"></script>
<script type="text/javascript" src="static/js/geo/geo.js"></script>
<script type="text/javascript" src="static/js/display-original-traces.js"></script>
<script type="text/javascript" src="static/js/geo/info.js"></script>

{% endblock %}	
	
